<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.goldri.web.system.mapper.SysUserOrgMapper">
  <resultMap id="BaseResultMap" type="club.goldri.web.system.domain.SysUserOrg">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>
</mapper>